.container {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
}

.icon {
  width: 342px;
  height: 456px;
  box-shadow: -26px 27px 14px 0 rgba(20, 35, 53, 0.31);
  background: url("../../images/clipy_logo.png");
  background-size: cover;
}

.description {
  width: 342px;
  height: 116px;
  font-family: HiraKakuPro-W3;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.44;
  color: #4a4a4a;
}

.downloadButton {
  composes: blueButton from './common.css';
  width: 282px;
  height: 82px;
  font-family: HiraKakuProN-W6;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: #3d90c9;
}

.name {
  font-size: 90px;
  margin: 0;
}
