.clipy-brand {
  float: left;
  font-size: 42px;
}

.nav-item {
  font-family: HiraKakuProN-W3;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.6px;
  text-align: center;
  color: #4a4a4a;
}
