.container {
  text-align: center;
  composes: container from './common.css';
}

.image {
  width: 146px;
  height: 164px;
  margin: auto;
  background: url("../../images/clipmenu-logo.png");
  background-size: cover;
}

.description {
  max-width: 585px;
  height: 160px;
  font-family: HiraKakuProN-W3;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.78;
  text-align: center;
  color: #4a4a4a;
  margin: auto;
}
